@import "../base/params";
@import "../base/mixin";

.el-submenu .el-menu-item{
  padding: 0 25px 0 45px;
}

.aside-item{
  .iconfont{
    display: inline-block;
    transform: translateX(25%);
    font-size: 18px;
    color: #fff;
  }
  .aside-detail{
    margin-left: 12px;
    display: inline-block;
    width: max-content;
  }
  .aside-title{
    margin-left: 20px;
    color: #fff;
    width: 100%;
    display: inline-block;
    @include single-ellipsis();
  }
}

.b-aside{
  height: 100%;
  overflow: auto;
    width: 230px;
  .el-submenu__icon-arrow{
    margin-top: -4px;
  }
  .is-active {
    background: #3877d6 !important;
    .iconfont {
      color: #fff !important;
    }
  }
}
