/** 常用灰度色 **/
$color-g0: #000;
$color-g1: #111;
$color-g2: #222;
$color-g3: #333;
$color-g4: #444;
$color-g5: #555;
$color-g6: #666;
$color-g7: #777;
$color-g8: #888;
$color-g9: #999;
$color-ga: #aaa;
$color-gb: #bbb;
$color-gc: #ccc;
$color-gd: #ddd;
$color-ge: #eee;
$color-gf: #fff;
$color-f1: #f1f1f1;
$color-f5: #f5f5f5;
$color-54: #545454;

/** 主色 **/
$main-color: #3877D6;
$main-dkcolor: #2b579a;
$main-mdcolor: #e2e9f5;
$main-ltcolor: #e8eff5;
$main-green: #67c23a;
$main-bdcolor: #ebeef5;
